{% comment %} # base.html {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'auth_users:dashboard' %}">Dashboard</a></li>
<!--                <li><a href="{% url 'auth_users:user-logout' %}">Logout</a></li>-->
                <li><a href="{% url 'auth_users:user-logout' %}" id="logout-button">Logout</a></li> <!-- Added ID here -->
                <li><a href="{% url 'profiles:view_profile' %}">View Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/auth_jwt.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <script>
        document.getElementById('logout-button').addEventListener('click', function(event) {
            console.log("loge out btn!!")
            event.preventDefault(); // Prevent the default link behavior
            logout(); // Call the logout function from auth_jwt.js
        });
    </script>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
