<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Eazy Fit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'auth_users:dashboard' %}">Dashboard</a></li>
                
                    <li class="nav-item">
                        {% if request.user.is_client %}
                            <a class="nav-link" href="{% url 'profiles:view_profile' %}">View Client Profile</a>
                        {% elif request.user.is_coach %}
                            <a class="nav-link" href="{% url 'profiles:view_coach_profile' %}">View Coach Profile</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth_users:api-user-logout' %}" id="logout-button">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
